/*Created with Adobe RoboHelp*/
.Head1 {
  font-weight: bold;
  font-size: 24px;
  font-family: 'Times New Roman';
  text-decoration: underline;
  color: #0C3DA6;
  line-height: 1.5;
  text-align: center;
  white-space: normal;
}
.Head2 {
  font-family: 'Times New Roman';
  white-space: normal;
  font-size: 20px;
  font-weight: bold;
  color: #0B61C9;
  line-height: 1.5;
  text-align: left;
  font-style: italic;
}
.Head3 {
  font-family: 'Times New Roman';
  font-weight: bold;
  white-space: normal;
  font-size: 16px;
  color: #000000;
  text-align: left;
  line-height: 1.5;
}
.Note {
  font-family: 'Times New Roman';
  white-space: normal;
  font-size: 16px;
  font-style: italic;
  color: #06064E;
  line-height: 1.5;
  text-align: left;
  border-top-color: #070744;
  border-bottom-color: #070744;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-top-style: solid;
  border-bottom-style: solid;
  font-weight: normal;
}
.BodyText {
  font-family: 'Times New Roman';
  font-weight: normal;
  text-decoration: none;
  white-space: normal;
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
  text-align: left;
  text-indent: 0px;
}
ol.ol {}
ul.ul {}
ol.ol>li {
  font-family: 'Times New Roman';
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  text-align: left;
  white-space: normal;
}
ul.ul>li {
  font-family: 'Times New Roman';
  font-weight: normal;
  white-space: normal;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
}
ol.AlphaNumeric {
  list-style: decimal;
}
ol.AlphaNumeric>li>ol {
  list-style: lower-alpha;
}
ol.AlphaNumeric>li>ol>li>ol {
  list-style: lower-roman;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol {
  counter-reset: item4;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li {
  position: relative;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li:before {
  counter-increment: item4;
  content: "(" counter(item4, decimal)")";
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item5;
  padding-left: 40px;
  margin-left: 0px;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item5;
  content: "(" counter(item5, lower-alpha)")";
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item6;
  padding-left: 40px;
  margin-left: 0px;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item6;
  content: "(" counter(item6, lower-roman)")";
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}
ol.RoundSquare {
  list-style: disc;
}
ol.RoundSquare>li>ol {
  list-style: square;
}
ol.RoundSquare>li>ol>li>ol {
  list-style: circle;
}
ol.RoundSquare>li>ol>li>ol>li>ol {
  list-style: disc;
}
ol.RoundSquare>li>ol>li>ol>li>ol>li>ol {
  list-style: square;
}
ol.RoundSquare>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: circle;
}